name: Build Typst document
on: [push, workflow_dispatch]

permissions:
  contents: write

jobs:
  build:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      DOC_NAME: "cae"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Typst
        uses: lvignoli/typst-action@main
        with:
          source_file: ${{env.DOC_NAME}}.typ

      - name: Get current date
        id: date
        run: echo "DATE=$(date +%Y-%m-%d-%H:%M)" >> $GITHUB_ENV
        
      - name: Upload PDF file
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.DOC_NAME}}-${{github.sha}}-${{env.DATE}}
          path: ${{env.DOC_NAME}}.pdf
          retention-days: 14  # Auto-delete after 14 days
